/* ---------------- Fonts from Google Fonts ---------------- */
.bodoni-moda-font {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .modak-regular,
  .rock-3d-regular,
  .bagel-fat-one-regular {
    font-weight: 400;
    font-style: normal;
  }
  
  .modak-regular {
    font-family: "Modak", system-ui;
  }
  
  .rock-3d-regular {
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
  }
  .original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

  /* ---------------- Global Styles ---------------- */
  body,
  #content {
    background-image: linear-gradient(to right, #1f2d3d, #3a6ea5) !important;
  }
  
  #content {
    color: white !important;
    height: 100vh;
    padding-top: 100px;
    justify-content: center;
  }
  
  .ms-3 {
    background-color: aliceblue !important;
  }
  
  img,
  iframe {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-top: 1rem;
  }
  
h1{
  font-family: "Rock 3D", system-ui;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  color: white !important;
}
  h2,
  h3,
  h4 {
    color: white !important;
    font-family:"roboto", system-ui;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
  }
  
h1,
  h2,
  h3,
  h4
   {
    padding-bottom: 10px;
  }
  p{
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row {
  padding-top: 10px;
  padding-bottom: 10px;
  }
  #about,
  #portfolio,
  #gallery {
    padding: 7.5px 25px;
  }
  
  #home {
    text-align: center;
    justify-content: center;
  }
  
  /* ---------------- Navbar Styling ---------------- */
  .modern-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .modern-nav-items {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;
  }
  
  .modern-nav-items li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto", system-ui;
    padding: 8px 12px;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
  }
  
  .modern-nav-items li a:hover {
    color: #ffffff;
    
  }
  
  .highlight {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    background: #142639;
    border-radius: 40px;
    transition: all 0.4s ease;
    z-index: 0;
  }
  
  /* ---------------- About Page Styling ---------------- */
  #textCard,
  #introCard {
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    
  }
  
  #textCard {
    padding: 10px 20px;
    background-color: #4c9563;
    color: #fff;
    margin: 10% auto;
    max-width: 850px;
  }
  
  #textCard p,
  #about p {
    text-indent: 40px;
    margin: 0 50px;
  }
  
  #introCardCol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 60px;
  }
  
  #introCard {
    padding: 80px 5px 5px 5px;
    background-color: #5fa19a;
    color: white;
    margin-left: 20px;
    aspect-ratio: 1 / 1;
    justify-content: center;
  }
  
  #introImage {
    width: 100%;
    max-width: 180px;
    height: auto;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  /*#textCard:hover,
  #introCard:hover {
    transform: scale(1.05) translateY(-5px);
  }
  */
  /* ---------------- Project Page Styling ---------------- */
  .project-card-DC,
  .project-card-FE,
  .project-card-BA {
    border-radius: 12px;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .project-card-DC {
    background-color: #4c9563;
  }
  
  .project-card-FE {
    background-color: #aa88ba;
  }
  
  .project-card-BA {
    background-color: #778eae;
  }
  
  .project-card-BA:hover,
  .project-card-FE:hover,
  .project-card-DC:hover {
    transform: translateY(-5px) scale(1.02);
  }
  
  /* ---------------- Contact Page Styling ---------------- */
  .container-contact{
    padding-bottom: 25px;
  }
  .contact-card {
    border-radius: 12px;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 450px;
    max-height: 450px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

   
    text-decoration: none;
    
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Roboto", system-ui;
   
    transition: color 0.3s ease;
    z-index: 1;
    text-align: center;
  }
  
  .green-card {
    background-color: #4c9563;
 
  }
   
  
  .red-card {
    background-color: #e77070;
   
  }
 
  

  .blue-card {
    background-color: #778eae;

  }
 
  .linkedin-card {
    background-color: #a27bb5;
 
  }
  .green-card:hover {
    background-color: white;
    color: #4c9563;
  }
    .green-card:hover i {
    color: #4c9563;
    }
  
  .red-card:hover {
    background-color: white;
    color: #e77070;
  }
    .red-card:hover i {
    color: #e77070;
    }
  
  .blue-card:hover {
    background-color: white;
    color: #778eae;
  }
    .blue-card:hover i {
    color: #778eae;
    } 
  
  .linkedin-card:hover {
    background-color: white;
    color: #a27bb5;
  }
    .linkedin-card:hover i {
    color: #a27bb5;
    } 

  .contact-card i {
    transition: color 0.3s ease;
    color: white ;
    font-size: 3.5rem;
    padding-right: 5px;
  }
  
  .contact-card:hover {
    transform: translateY(-5px) scale(1.02);

  }
  
  .col-sm-6.col-md-4 {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* ---------------- Responsive Settings ---------------- */
  @media (max-width: 1400px) {
    #textCard {
      max-width: 600px;
    }
    #introCard {
      background-color: #5fa19a;
      color: white;
      padding: 20px 15px 5px 15px;
      border-radius: 16px;
   
      padding-bottom: 40px;
      
    
    
  }}
  
  @media (max-width: 780px) {
    .modern-navbar{
      max-width:fit-content;

    }
    .modern-nav-items {
   
      gap: 10px;

    }
    .container-contact{
      padding-bottom: 15px;
    }

  
    #introCard {
      background-color: #5fa19a;
      color: white;
      padding: 20px 15px 5px 15px;
      border-radius: 16px;
      margin: 0 auto;
      padding-bottom: 40px;
      
    }
    #introCardCol {
     margin-left: 0px;
     margin-right: 1100px;
    }
  
    #content {
      background-color: #1f2d3d !important;
      color: white !important;
      padding-top: 100px;
    }
  
    #textCard {
      margin: 0 5px 40px 15px;
      max-width: 455px;
      padding: 20px 0 20px 0;

    }
  
    .project-card-DC,
    .project-card-FE,
    .project-card-BA {
      margin: 10px 0;
    }
    .project-card-BA:hover,
    .project-card-FE:hover,
    .project-card-DC:hover {
      transform: translateY(-5px);
    }
    .green-card {
      background-color: #4c9563;
      aspect-ratio: 1 / 1;
      max-width: 300px;
      max-height: 300px;
    }
  
    
    .red-card {
      background-color: #e77070;
      aspect-ratio: 1 / 1;
      max-width: 300px;
      max-height: 300px;
    }
 
    
  
    .blue-card {
      background-color: #778eae;
      aspect-ratio: 1 / 1;
      max-width: 300px;
      max-height: 300px;
    }
 
    .linkedin-card {
      background-color: #a27bb5;
      aspect-ratio: 1 / 1;
      max-width: 300px;
      max-height: 300px;
    }

  }
  